extends layout

block content
  header
    h1
      a(href="/") מיני פרוייקט במדעי הרוח הדיגיטליים
    p
      span.little-title מטרת הפרוייקט
      br
      br
      span.little-text
        | פרוייקט זה הוקם על מנת להראות קשר בין אירועים במדינת ישראל לבין הצעות חוק העולות במשכן הכנסת בחלוף השנים. בצד ימין ניתן לראות את האירועים, ובצד שמאל את הצעות החוק.
        br
        br
        | פרוייקט זה קודם והוכן ע"י &nbsp;
        span.font-bold אלכס ל. ואסף ע.  &nbsp;
        | במסגרת קורס "מדעי הרוח הדיגיטליים", בהנחייתה של ד"ר יעל נצר. סמסטר א' 2017.
    p
      span.little-title מאחורי הקלעים
      br
      br
      span.little-text
        | האתר כתוב בשפת JavaScript ורץ על שרת Node.js
        | כאשר כלל הצעות הכנסת, והאירועים שקרו במדינת ישראל בשנה הרלוונטית נשמרים במסד נתונים מסוג MongoDB.
        | הנתונים נלקחו מאתר&nbsp;
        a(href="https://oknesset.org", target="_blank") כנסת פתוחה
        |   ומאתר ויקיפדיה.
      br
      br
      |  האתר מבוסס על קוד פתוח ולכן אם ברצונכם לתרום, להוסיף, לשפר ולהעיר - הינכם מוזמנים לעשות זאת.
    p
      span.little-title אפשרויות מתקדמות
      br
      br
      span.little-text
        | סינון הצעות חוק שהם בשלב: &nbsp;
        select#stageSelect
          option(value="?stage=0" selected= stage==0) הכל
          option(value="?stage=1" selected= stage==1) הצעה
          option(value="?stage=2" selected= stage == 2) בוועדה
          option(value="?stage=3" selected= stage == 3) קריאה ראשונה
          option(value="?stage=4" selected= stage == 4) נפלה בקריאה ראשונה
          option(value="?stage=5" selected= stage == 5) נפלה בקריאה שלישית
          option(value="?stage=6" selected= stage == 6) אושרה
          option(value="?stage=7" selected= stage == 7) לא ידוע
          option(value="?stage=8" selected= stage == 8) עברה קריאה טרומית
          option(value="?stage=9" selected= stage == 9) נפלה בקריאה טרומית
          option(value="?stage=10" selected= stage == 10) הוקפאה בכנסת קודמת
        br
        br
        | ייצא נתונים: &nbsp;
        select#exportData
          option(value="&export=0") בחר סוג מידע
          option(value="&export=1") JSON
          option(value="&export=2") CSV

    p.stats
      | שנת&nbsp;
      span.font-bold=year
      | &nbsp;במספרים:&nbsp;
      span.font-bold=results.length
      | &nbsp;רשומות במסד הנתונים
      | (אירועים והצעות חוק שהועלו)
      | &nbsp;
  section#cd-timeline.cd-container
    if(results.length)
      each event, i in results
        if (!event.isEvent)
          .cd-timeline-block
            .cd-timeline-img.cd-picture
              img(src='/images/icon-bill.png', alt='הצעת חוק')
            .cd-timeline-content
              h2
                a(href='https://oknesset.org' + event.absolute_url, target="_blank") #{event.title}
              p
                | #{event.full_title}
                br
                span.stage שלב הצעת החוק: &nbsp;
                span.stage=event.stage
            span.cd-date #{event.stage_date}
        else
          .cd-timeline-block-right
            .cd-timeline-img.cd-location
              img(src='/images/icon-location.svg', alt='אירוע')
            .cd-timeline-content
              h2 #{event.title}
              p
                | #{event.description}
            span.cd-date #{event.stage_date}
    else
          .cd-timeline-block.cd-timeline-block-error
            .cd-timeline-content
              p מצטערים, אך אין נתונים לשנה הזאת ו/או שהכנסת קלט שגוי. אנא נסה שנית במועד מאוחר יותר.


